@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

body {
  margin:0;
  overflow-y: hidden;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-weight: 800;
  font-size:60px;
  
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(-45deg, #8E2DE2, #4A00E0, #c31432, #240b36, #1D2671, #C33764);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  color:white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:80vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:2px;
    min-height:40px;
  }
  .content {
    height:3vh;
  }
  h1 {
    font-size:24px;
    font-weight: 800;
  }
}

/* start */



.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
  margin : 0px;
  --color: #fff;
  --hover: #fff;

}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
    background: none;
  border: 2px solid;
  font-family: 'Nunito', sans-serif;
  font-weight: light;
  line-height: 1;
  font-size: 15px;
  padding: 1.5em 2em;
}
  

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}




code {
  color: #e4cb58;
  font: inherit;
}